<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h2>🚧 this page is under construction</h2>
    <br>
    <p>
        In the meantime please visit me on these website to learn more about me:
    </p>
    <ul>
        <li>LinkedIn for my professional profile <a href="https://www.linkedin.com/in/jaysueno" target="_blank">Click Here</a></li>
        <li>Twitter for daily updates <a href="https://www.twitter.com/therealjaysueno" target="_blank">Click Here</a></li>
        <li>Github for my data science projects <a href="https://www.github.com/jaysueno" target="_blank">Click Here</a></li>            
        <li>Instagram for lifestyle<a href="https://www.instagram.com/jay_sueno/" target="_blank">Click Here</a></li>
    </ul>
</body>
</html>