<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>🚧 Under Construction 🚧</h1>
    <br></br>
        <img src='../static/images/jay-profile.jpg' alt='Jay Sueno profile photo'>
    <br></br>
        <p>I am a data scientist who specializes in Machine Learning to do good in the world.</p>
    <br></br>
        <p>I love to surf and live in Encinitas, CA.</p>
    <br></br>
        <ul>
            <li>LinkedIn for my professional profile <a href="https://www.linkedin.com/in/jaysueno" target="_blank">Click Here</a></li>
            <li>Twitter for daily updates <a href="https://www.twitter.com/therealjaysueno" target="_blank">Click Here</a></li>
            <li>Github for my data science projects <a href="https://www.github.com/jaysueno" target="_blank">Click Here</a></li>            
            <li>Instagram for lifestyle<a href="https://www.instagram.com/jay_sueno/" target="_blank">Click Here</a></li>
        </ul>
    <br>
        <h1>Below is one of my fav surfers. You can also find links to my local surf breaks and the cams.</h1>
        <img width="500" src="https://www.outsideonline.com/sites/default/files/styles/width_1200/public/2019/05/23/woman-surfing-wave_h.jpg?itok=sfLvUziM" alt="Hana Shredding" />
        <p>
            <ul>
                <li><a target="_blank" href="https://www.surfline.com/surf-report/cardiff-reef-overview/5842041f4e65fad6a77088b1">Cardiff</a></li>
                <li><a target="_blank" href="https://www.surfline.com/surf-report/pipes/5c008f5313603c0001df5318">Pipes</a></li>
                <li><a target="_blank" href="https://www.surfline.com/surf-report/swami-s/5842041f4e65fad6a77088b4">Swamis</a></li>
            </ul>
        </p>
</body>
</html>